{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container  d-flex justify-content-center">
        <form method="post">

            {% if app.user %}
                <div class="mb-3">
                    Bonjour, {{ app.user.username }}, vous êtes déjà connecté. Pour vous déconnecter, <a href="{{ path('app_logout') }}">cliquez ici</a>
                </div>
            {% endif %}
            {% if error %}
                <div class="alert alert-danger">
                    <span class="initialism form-error-icon badge badge-danger">Error</span>
                    <span class="form-error-message">Identifiant/Mot de passe incorrect</span>
                </div>
            {% endif %}

            <h1 class="text-center mt-3 mb-5">Bienvenue</h1>

            <div class="row mb-4">
                <div class="col-auto">
                    <label for="inputPseudo" class="col-form-label mr-4">Identifiant :</label>
                </div>
                <div class="col-auto">
                    <input type="text" value="" name="pseudo" id="inputPseudo" class="form-control" autocomplete="pseudo" required autofocus>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-auto">
                    <label for="inputPassword">Mot de passe :</label>
                </div>
                <div class="col-auto">
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </div>

            <div class="row">
                <div class="col-auto d-flex align-items-center">
                    <button class="btn btn-lg btn-info" type="submit">Connexion</button>
                </div>
                <div class="col-auto">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="_remember_me"> Se souvenir de moi
                        </label>
                    </div>
                    <div>
                    <a href="{{ path('app_forgot_password_request') }}" title="reset password">Mot de passe oublié ?</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row justify-content-center mt-5">
        <a class="custom-link" href="{{ path('app_register') }}" title="register">Pas encore inscrit ? Créer un compte</a>
    </div>
{% endblock %}
