{% extends 'base.html.twig' %}

{% block title %}Mon profil!{% endblock %}

{% block body %}
<div class="container">

    <div class="text-center">
        <h1 class="text-center mb-5 mt-3">{{ participant.pseudo }}</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="{{ asset('img/avatar/' ~ participant.photoProfil ) }}" alt="{{ participant.photoProfil }}" id="avatar-profil">
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-center">

            <div class="mb-3 row">
                <p class="col-sm-6 text-right pr-5">Prénom</p>
                <div class="col-sm-6">
                <p class="text-left">{{ participant.prenom }}</p>
                </div>
            </div>
        <div class="mb-3 row">
            <p class="col-sm-6 text-right pr-5">Nom</p>
            <div class="col-sm-6">
                <p class="text-left">{{ participant.nom }}</p>
            </div>
        </div>
        <div class="mb-3 row">
            <p class="col-sm-6 text-right pr-5">Téléphone</p>
            <div class="col-sm-6">
                <p class="text-left">{{ participant.telephone }}</p>
            </div>
        </div>
        <div class="mb-3 row">
            <p class="col-sm-6 text-right pr-5">Email</p>
            <div class="col-sm-6">
                <p class="text-left">{{ participant.mail }}</p>
            </div>
        </div>
        <div class="mb-3 row">
            <p class="col-sm-6 text-right pr-5">Campus</p>
            <div class="col-sm-6">
                <p class="text-left">{{ participant.campus.nom }}</p>
            </div>
        </div>
    <div class="row text-center">
        <a href="{{ path('participant_edit', { 'id': participant.id }) }}"><button class="btn btn-info mr-3">Retour</button></a>
    </div>
            </div>

    </div>
</div>
{% endblock %}
