{% extends 'base.html.twig' %}

{% block title %} Villes {% endblock %}

{% block body %}
<h1 class="text-center mt-3 mb-5">Villes</h1>
    <div class="container">
        {{ form_start(form) }}
        <div class="row justify-content-md-center">
            <div class="col-4">
                {{ form_row(form.q) }}
               {#  {{ form_row(form.codePostal) }} #}
            </div>
            <div class="col-xs-6">
                <button type="submit" class="btn btn-info" name="recherche">Rechercher</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    <div class="container">
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" class="table-secondary">Nom de la Ville</th>
                    <th scope="col" class="table-secondary">Code postal</th>
                    <th scope="col" class="table-secondary">Actions</th>
                </tr>
                </thead>
                <tbody>

                    {% for ville in vil %}
                        <tr>
                            <td>{{ ville.nom }}</td>
                            <td>{{ ville.codePostal }} </td>
                            <td><a href="{{ path('city_update', {"id" : ville.id}) }}">Modifier</a> | <a href="{{ path('city_delete', {"id" : ville.id}) }}" onclick="return confirm('Supprimer?')">Supprimer</a></td>
                        </tr>
                    {% endfor %}

                  {#  {% for ville in cities %}
                        <tr>
                            <td>{{ ville.nom }}</td>
                            <td>{{ ville.codePostal }} </td>
                            <td><a href="{{ path('city_update', {"id" : ville.id}) }}">Modifier</a> | <a href="{{ path('city_delete', {"id" : ville.id}) }}" onclick="return confirm('Supprimer?')">Supprimer</a></td>
                        </tr>
                    {% endfor %}#}

                </tbody>
            </table>
        </div>
    </div>
    <div>
        <hr>
    </div>
    <div class="container">
        <h3 class="h3">Ajouter une nouvelle ville :</h3>

        {{ form_start(cityForm) }}
        {{ form_row(cityForm.nom, {'id': 'searchInput'}) }}
        {{ form_row(cityForm.codePostal, {'id': 'codePostalField', 'value': ''}) }}
        <script src="/sortir/public/assets/js/scriptApiVille.js" type="text/javascript" ></script>

        <div>
            <button type="submit" class="btn btn-info">Créer</button>
            {{ form_end(cityForm) }}
        </div>
    </div>
{% endblock %}
