{% extends 'base.html.twig' %}

{% block title %} Creation d'une nouvelle sortie {% endblock %}

{% block body %}
    <h1 class="text-center mt-3 mb-5">Nouvelle sortie</h1>
    <div class="container">
        {{ form_start(sortieForm) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(sortieForm.nom) }}
                {{ form_row(sortieForm.dateHeureDebut) }}
                {{ form_row(sortieForm.dateLimiteInscription) }}
                {{ form_row(sortieForm.nbInscriptionsMax) }}
                {{ form_row(sortieForm.duree) }}
                {{ form_row(sortieForm.infosSortie) }}
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-auto">
                        <label for="campus" class="col-form-label mr-3">Campus</label>
                    </div>
                    <div class="mb-3">
                        <input type="text" id="campus" class="form-control ml-2"  value="{{ app.user.campus }}" disabled>
                    </div>
                </div>
                <div >
                    {{ form_row(sortieForm.lieuSortie) }}
                    {{ form_row((sortieForm.ville)) }}
                    {{ form_row(sortieForm.lieu.rue) }}
                    {{ form_row(sortieForm.lieu.codePostal) }}
                    {{ form_row(sortieForm.etatSortie) }}
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-info">Créer</button>
        </div>
        {{ form_end(sortieForm) }}
    </div>
{% endblock %}

