{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Détails de la sortie {{ sorties.nom }}</h1>
        <div class="row">
            <div class="col-sm">
                <div>Date et heure de la sortie {{ sorties.dateHeureDebut|format_datetime('short', 'none', locale='fr') }}</div>
                <div>Date limite d'inscription {{ sorties.dateLimiteInscription|format_datetime('short', 'none', locale='fr') }}</div>
                <div>Nombre de place {{ sorties.nbInscriptionsMax }}</div>
                <div>Durée {{ sorties.duree }}</div>
                <div>Description et infos {{ sorties.infosSortie }}</div>
            </div>
            <div class="col-sm">
                <div>Campus {{ sorties.campus }}</div>
                <div>Lieu {{ sorties.lieu }}</div>
                <div>Rue {{ sorties.lieu }}</div>
{#                <div>Code postal {{ ville.codePostal }}</div>#}
                <div>Latitude {{ sorties.lieu.latitude }}</div>
                <div>Longitude {{ sorties.lieu }}</div>
            </div>
        </div>
        <div>Liste des participants</div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Pseudo</th>
                <th scope="col">Nom</th>
            </tr>
            </thead>
                <tbody>
                <tr>
                    <td>{{ sortie.participants }}</td>
                    <td>{{ sortie.participants }}</td>
                </tr>
                </tbody>
        </table>
    </div>


{% endblock %}

{% block title %}
    {{ parent() }}
{% endblock %}

