{% block body %}
    <div class="container">
        {{ form_start(sortiesForm) }}
        <div class="row">
            <div class="col-sm">
                <h4>Le nom de la sortie contient
                {{ form_row(sortiesForm.q) }}</h4>

                <h4>Campus
                {{ form_row(sortiesForm.campus) }}</h4>

                <h4>Entre{{ form_row(sortiesForm.dateDebut) }}
                et
                {{ form_row(sortiesForm.dateFin) }}</h4>
            </div>
            <div class="col-sm">
                {{ form_row(sortiesForm.organisateur) }}
                {{ form_row(sortiesForm.inscrit) }}
                {{ form_row(sortiesForm.notInscrit) }}
                {{ form_row(sortiesForm.terminees) }}
            </div>
            <div class="col-sm">
                <button type="submit" class="btn btn-secondary btn-sm">Rechercher</button>
            </div>
        </div>

        {{ form_end(sortiesForm) }}
    </div>
{% endblock %}
