{% extends 'base.html.twig' %}

{% block title %}  Sorties {% endblock %}

{% block body %}
    <h1 class="text-center mt-3 mb-5">Liste des sorties</h1>
    <div class="container">
        <div>
            {% include 'sortie/filter.html.twig' %}
        </div>
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Nom de la sortie</th>
                    <th scope="col">Date de la sortie</th>
                    <th scope="col">Clôture</th>
                    <th scope="col">Inscrits / Places</th>
                    <th scope="col">Etat</th>
                    <th scope="col">Inscrit</th>
                    <th scope="col">Organisateur</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                {% for sortie in sorties %}
                    <tbody>
                    <tr>
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.dateHeureDebut|format_datetime('short', 'none', locale='fr') }}</td>
                        <td>{{ sortie.dateLimiteInscription|format_datetime('short', 'none', locale='fr') }}</td>
                        <td>{{ sortie.participants|length }} / {{ sortie.nbInscriptionsMax }}</td>
                        <td>{{ sortie.etatSortie }}</td>
                        <td>TODO</td>
                        <td>{{ sortie.organisateur }}</td>
                        <td><a href="{{ path('sortie_detail', {'id': sortie.id}) }}">Afficher</a></td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
            <div>
                <a href="{{ path('sortie_create') }}">Créer une sortie</a>
            </div>
        </div>
    </div>

{% endblock %}