<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %} Sorties !{% endblock %}</title>

        <!-- CSS -->
        <link href="{{ asset('assets/css/normalize.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">

        <link rel="icon" href="{{ asset('img/icon.jpg') }}">

    </head>
    <body>
    <div >{%  include('inc/nav.html.twig') %}</div>


    {# read and display all flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-dark" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}


        {% block body %}{% endblock %}

        <footer class="text-center text-lg-start bg-light text-muted">
            <div>&copy; {{ "now" | date("Y") }} SORTIR.COM</div>
        </footer>
    </body>
</html>
